{% extends 'base.html.twig' %}

{% block title %}Hello CartController!{% endblock %}

{% block body %}
<h1>Mon panier</h1>


    <table class="table">
        <thead>
            <tr>
                <th>Id_produit</th>
                <th>image</th>
                <th>titre</th>
                <th>description</th>
                <th>prix</th>
                <th>Quantite</th>
                <th>Total</th>
            </tr>
        </thead>
        <tbody>
            {% for monpanier in panier %}
            <tr>
                <td>{{monpanier.produit.id}}</td>
                <td><img src="{{ asset('img/') ~monpanier.produit.imagename}}" class="w-25" ></td>
                <td>{{monpanier.produit.titre}}</td>
                <td>{{monpanier.produit.description}}</td>
                <td>{{monpanier.produit.prix}} €</td>
                <td>{{monpanier.quantite}}</td>
                <td>{{monpanier.total}} €</td>
            </tr>
        {% else %}
            <tr>
                <td colspan="4">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <h2>Montant Total : {{total}} </h2>


{% endblock %}
